In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
# We are focussing on binary classificatio , hence remove all ;setosa
df=df[df['species']!='setosa']

In [6]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [7]:
df['species']=df['species'].map({'versicolor':0,'virginica':1})

In [8]:
df.head(50)

    sepal_length  sepal_width  petal_length  petal_width  species
50           7.0          3.2           4.7          1.4        0
51           6.4          3.2           4.5          1.5        0
52           6.9          3.1           4.9          1.5        0
53           5.5          2.3           4.0          1.3        0
54           6.5          2.8           4.6          1.5        0
55           5.7          2.8           4.5          1.3        0
56           6.3          3.3           4.7          1.6        0
57           4.9          2.4           3.3          1.0        0
58           6.6          2.9           4.6          1.3        0
59           5.2          2.7           3.9          1.4        0
60           5.0          2.0           3.5          1.0        0
61           5.9          3.0           4.2          1.5        0
62           6.0          2.2           4.0          1.0        0
63           6.1          2.9           4.7          1.4        0
64           5.6          2.9           3.6          1.3        0
65           6.7          3.1           4.4          1.4        0
66           5.6          3.0           4.5          1.5        0
67           5.8          2.7           4.1          1.0        0
68           6.2          2.2           4.5          1.5        0
69           5.6          2.5           3.9          1.1        0
70           5.9          3.2           4.8          1.8        0
71           6.1          2.8           4.0          1.3        0
72           6.3          2.5           4.9          1.5        0
73           6.1          2.8           4.7          1.2        0
74           6.4          2.9           4.3          1.3        0
75           6.6          3.0           4.4          1.4        0
76           6.8          2.8           4.8          1.4        0
77           6.7          3.0           5.0          1.7        0
78           6.0          2.9           4.5          1.5        0
79           5.7          2.6           3.5          1.0        0
80           5.5          2.4           3.8          1.1        0
81           5.5          2.4           3.7          1.0        0
82           5.8          2.7           3.9          1.2        0
83           6.0          2.7           5.1          1.6        0
84           5.4          3.0           4.5          1.5        0
85           6.0          3.4           4.5          1.6        0
86           6.7          3.1           4.7          1.5        0
87           6.3          2.3           4.4          1.3        0
88           5.6          3.0           4.1          1.3        0
89           5.5          2.5           4.0          1.3        0
90           5.5          2.6           4.4          1.2        0
91           6.1          3.0           4.6          1.4        0
92           5.8          2.6           4.0          1.2        0
93           5.0          2.3           3.3          1.0        0
94           5.6          2.7           4.2          1.3        0
95           5.7          3.0           4.2          1.2        0
96           5.7          2.9           4.2          1.3        0
97           6.2          2.9           4.3          1.3        0
98           5.1          2.5           3.0          1.1        0
99           5.7          2.8           4.1          1.3        0

In [15]:
## Split into independent and dependent feature
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [16]:
x

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [17]:
y

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [21]:
# train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(
    x,y,test_size=0.25,random_state=42)

In [22]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

In [23]:
from sklearn.model_selection import GridSearchCV
parameter={'penalty':['l1','l2','elasticnet'],'C':[1,2,3,4,5,6,10,20,30,40,50],
          'max_iter':[100,200,300]}
#check all the parameter and predict the best combination
#we are doing hyperparameter tuning with these parameter

In [26]:
model=GridSearchCV(classifier,param_grid=parameter,scoring='accuracy'
             ,cv=5)
#cross validation=split the data into two parts:training set and a validation set. The training set is used to
#fit the model, while the validation set is used to evaluate the model's performance

In [27]:
model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
330 fits failed out of a total of 495.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
165 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
165 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [28]:
#which parameter has been selected after training
print(model.best_params_)

{'C': 1, 'max_iter': 100, 'penalty': 'l2'}

In [29]:
print(model.best_score_)

0.9733333333333334

In [30]:
##prediction
y_pred=model.predict(x_test)

In [31]:
# accuracy score
from sklearn.metrics import accuracy_score,classification_report

In [33]:
score=accuracy_score(y_pred,y_test)
print(score)

0.92